.jumbotron {
  text-align: center;
  background-color: rgb(58, 80, 177);
  color: white;
  margin-top: 22px;
  padding: 40px;
}

label {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
}

#number {
  font-size: 17px;
  padding-left: 2px;
}

.btn {
  margin-left: 10px;
  background-color: rgb(197, 204, 211);
  font-size: 14px;
  font-weight: bold;
}

ul {
  padding-top: 25px;
  font-size: 20px;
  font-family: 'Courier New';
}

#result {
  display: none;
}
